[user]
	name = Mikhail Golubev
	email = qsolo825@gmail.com
[credential]
	helper = cache
[help]
	autocorrect = 1
[color]
	ui = true
[alias]
	st = status
	mt = mergetool --no-prompt
	dt = difftool --no-prompt
	ci = commit
	forget = rm --cached --
	co = checkout
	whereadded = log --diff-filter=A --
[core]
	excludesfile = ~/.cvsignore
	autocrlf = input
[merge]
	tool = p4merge
[diff]
        tool = meld
[difftool]
        prompt = false
[mergetool "p4merge"]
	trustExitCode = false
